@charset "utf-8";
#header{
	background-image: url("../media/1bg_web.png");
	background-repeat: no-repeat;
	position: static;
	background-position: center;
}
#image{
	width: 80%;
	height: auto;
	justify-content: center;
}
#b{
	width: 100%;
	height: 100%;
}
#linkedin{
	justify-content: center;
}